body {
  background-color: #e3f6f5;
  color:#272643;
}

.container {
  margin-top: 30px;
}

.block {
  border: 1px solid grey;
  padding: 0;
}


.block:last-child{
 border-left: 0;
}

h1 {
  margin-bottom: 30px;
}

a {
  color:#2c698d;
}
.subtitle {
  font-size: 1.3em;
  color: #2c698d;
  background: #bae8e8;
  padding: 10px;
}

textarea.form-control {
 height: 90%;
 border: none;
 background: transparent;
 padding: 10px 20px;
 color:#272643;
 resize: none;
}